{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reset{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id = "Reset" method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="old_password">OldPassword</label>
    <input type="password" name="old_password" id="old_password" required>
    <label for="new_password">NewPassword</label>
    <input type="password" name="new_password" id="new_password" required>
    <input type="submit" value="Reset">
  </form>
{% endblock %}